table {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
    display: flex;
}

th {
    background-color: #f2f2f2;
}

.icon-table {
    color: #000;
}

.edit-td {
    display: flex;
    justify-content: space-evenly;
}