<app-layout>
    <div>
        <h3>Dados do Usuário</h3>
        <button class="btn btn-primary" [routerLink]="['../form']">New</button>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Gênero</th>
                    <th>Gosta de Esportes</th>
                    <th>Esporte Favorito</th>
                    <th>Empregado(a)</th>
                    <th>Nome da Empresa</th>
                    <th>Posição Feliz</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track item.personalInfo.per_firstName) {
                    <tr>
                        <td>{{ item.personalInfo.per_firstName }}</td>
                        <td>{{ item.personalInfo.per_lastName }}</td>
                        <td>{{ item.personalInfo.per_gender }}</td>
                        <td>{{ item.personalInfo.per_likeSports ? 'Sim' : 'Não' }}</td>
                        <td>{{ item.personalInfo.per_favSport }}</td>
                        <td>{{ item.workInfo.wor_isEmployed ? 'Sim' : 'Não' }}</td>
                        <td>{{ item.workInfo.wor_companyName }}</td>
                        <td>{{ item.workInfo.wor_happyPosition }}</td>
                        <td class="edit-td">
                            <i class="icon-table bi bi-pen" (click)="editItem(item.id)"></i>
                            <i class="icon-table bi bi-trash-fill" (click)="deleteItem(item.id)"></i>
                        </td>
                    </tr>
                } @empty {
                    <tr>
                        <td> There are no items. </td>
                    </tr>
                }
            </tbody>
            
        </table>
    </div>
</app-layout>